DB_HOST=localhost
DB_PORT=5432
DB_NAME=kacamata_pos
DB_USER=postgres
DB_PASSWORD=yourpassword
SESSION_NAME=kacamata_cabang_sid
SESSION_SECRET=change-this-secret
PORT=8080

# URL Pusat (kacamata-pos-pusat)
PUSAT_APP_URL=http://localhost:9090
